<div>
  <p-table [value]="projectService.filteredProjects">
    <p-confirmdialog />
    <ng-template #header>
      <tr>
        <th>Projeto</th>
        <th>Ativo</th>
        <th>Vigência</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template #body let-p>
      <tr>
        <td>
          {{ p.projeto }}
        </td>
        <td>
          <project-status [status]="p.ativo" />
        </td>
        <td>
          {{ p.inicio_vigencia | date: "dd/MM/yyyy" }} -
          {{ p.fim_vigencia | date: "dd/MM/yyyy" }}
        </td>
        <td>
          <div class="flex gap-2">
            <icon-button label="Ver" (click)="view(p)">
              <ng-icon name="tablerEye" id="icon" />
            </icon-button>
            <icon-button label="Editar" (click)="edit(p)">
              <ng-icon name="tablerEdit" id="icon" />
            </icon-button>
            <icon-button
              [label]="p.ativo ? 'Inativar' : 'Ativar'"
              (click)="confirmToggle(p)"
            >
              <ng-icon [name]="p.ativo ? 'tablerX' : 'tablerCheck'" id="icon" />
            </icon-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
