<button
  [pTooltip]="label"
  tooltipPosition="bottom"
  [class]="
    'cursor-pointer h-8 w-8 ' +
    'dark:bg-gray-100 dark:text-gray-800 ' +
    'bg-gray-800 text-gray-50 ' +
    'flex items-center justify-center ' +
    'transition-all ' +
    'focus:outline-3 focus:outline-offset-1 ' +
    'active:bg-gray-600 active:outline-gray-400 ' +
    'focus:outline-gray-400/50 ' +
    'hover:bg-gray-600 dark:hover:bg-gray-300' +
    (disabled ? ' cursor-not-allowed' : '') +
    (circle ? ' rounded-full' : ' rounded-lg')
  "
  [attr.aria-label]="label"
  [disabled]="disabled"
>
  <ng-content></ng-content>
</button>
