<p-dialog
  [header]="getHeader()"
  [modal]="true"
  [(visible)]="this.projectService.dialogOpen"
  styleClass="w-[90vw] lg:w-[55vw]"
>
  <form
    [formGroup]="projectForm"
    class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full"
  >
    <p-floatlabel variant="in">
      <input
        id="name"
        required
        type="text"
        pInputText
        fluid
        formControlName="projeto"
        [readOnly]="projectService.dialogMode === 'view'"
      />
      <label for="name">Projeto</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
      <p-select
        id="sponsor"
        required
        [options]="projectService.sponsors"
        [readonly]="projectService.dialogMode === 'view'"
        optionLabel="nome"
        optionValue="id"
        formControlName="id_financiador"
        fluid
      />
      <label for="sponsor">Financiador</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
      <p-select
        id="tech_area"
        required
        [options]="projectService.techAreas"
        [readonly]="projectService.dialogMode === 'view'"
        optionLabel="nome"
        optionValue="id"
        formControlName="id_area_tecnologica"
        fluid
      />
      <label for="tech_area">Área tecnologica</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
      <input
        id="coordenador"
        required
        type="text"
        [readOnly]="projectService.dialogMode === 'view'"
        pInputText
        fluid
        formControlName="coordenador"
      />
      <label for="coordenador">Coordenador</label>
    </p-floatlabel>
    <div
      class="p-4 flex flex-col gap-2 bg-[var(--p-inputtext-background)] border border-[var(--p-inputtext-border-color)] rounded-lg"
    >
      <label class="text-[var(--p-floatlabel-color)] mb-2" for="period">
        Vigência
      </label>
      <input
        id="start_date"
        required
        type="date"
        [readOnly]="projectService.dialogMode === 'view'"
        pInputText
        fluid
        formControlName="inicio_vigencia"
      />
      <input
        id="end_date"
        required
        type="date"
        [readOnly]="projectService.dialogMode === 'view'"
        pInputText
        fluid
        formControlName="fim_vigencia"
      />
    </div>
    <div
      class="p-4 flex flex-col gap-2 bg-[var(--p-inputtext-background)] border border-[var(--p-inputtext-border-color)] rounded-lg"
    >
      <label class="text-[var(--p-floatlabel-color)] mb-2" for="period">
        Ativo
      </label>
      <div class="flex items-center">
        <p-radiobutton
          inputId="ativoSim"
          required
          [value]="true"
          [disabled]="projectService.dialogMode === 'view'"
          formControlName="ativo"
        />
        <label for="ativoSim" class="ml-2">Sim</label>
      </div>
      <div class="flex items-center">
        <p-radiobutton
          inputId="ativoNao"
          required
          [disabled]="projectService.dialogMode === 'view'"
          [value]="false"
          formControlName="ativo"
        />
        <label for="ativoNao" class="ml-2">Não</label>
      </div>
    </div>
  </form>
  <ng-template #footer>
    <p-button (click)="onClose()" severity="secondary">
      <span class="mb-0.5">CANCELAR</span>
      <ng-icon name="tablerX" />
    </p-button>
    <p-button
      class="flex items-center gap-2"
      [ariaLabel]="
        this.projectService.dialogMode === 'view' ? 'Editar' : 'Salvar'
      "
      (click)="
        this.projectService.dialogMode === 'view'
          ? projectService.setDialogMode('edit')
          : onSubmit()
      "
      [disabled]="projectForm.invalid"
    >
      <span class="mb-0.5 font-bold">
        {{ this.projectService.dialogMode === "view" ? "EDITAR" : "SALVAR" }}
      </span>
      <ng-icon
        [name]="
          this.projectService.dialogMode === 'view'
            ? 'tablerEdit'
            : 'tablerDeviceFloppy'
        "
      />
    </p-button>
  </ng-template>
</p-dialog>
